<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('费用支出列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>支出成员：</label>
                                <select name="payMenber" th:with="type=${@dict.getType('family_menber')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <label>支出金额：</label>
                                <input type="text"  name="payCost"/>
                            </li>
                            <li>
                                <label>支出日期：</label>
                                <input type="text" class="time-input" placeholder="请选择支出日期" name="payDate"/>
                            </li>
                            <li>
                                <label>支出类型：</label>
                                <select name="payTypeCode" th:with="type=${@dict.getType('budget_type')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <label>经办人：</label>
                                <select name="operatorCode" th:with="type=${@dict.getType('family_menber')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <label>记账人：</label>
                                <select name="bookkeeperCode" th:with="type=${@dict.getType('family_menber')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li class="select-time">
                                <label>创建日期：</label>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginCreateDate]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endCreateDate]"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="pay:pay:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('pay:pay:edit')}]];
        var removeFlag = [[${@permission.hasPermi('pay:pay:remove')}]];
        var payMenberDatas = [[${@dict.getType('family_menber')}]];
        var payTypeCodeDatas = [[${@dict.getType('budget_type')}]];
        var operatorCodeDatas = [[${@dict.getType('family_menber')}]];
        var bookkeeperCodeDatas = [[${@dict.getType('family_menber')}]];
        var prefix = ctx + "pay/pay";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "费用支出",
                columns: [
                {
                    field: 'id',
                    title: '',
                    visible: false
                },
                {
                    field: 'payMenber',
                    title: '支出成员',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(payMenberDatas, value);
                    }
                },
                {
                    field: 'payDate',
                    title: '支出日期'
                },
                {
                    field: 'payCost',
                    title: '支出金额'
                },
                {
                    field: 'payTypeCode',
                    title: '支出类型',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(payTypeCodeDatas, value);
                    }
                },
                {
                    field: 'payDetail',
                    title: '支出明细'
                },
                {
                    field: 'bookkeeperCode',
                    title: '记账人',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(bookkeeperCodeDatas, value);
                    }
                },
                {
                    field: 'createDate',
                    title: '创建日期'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>