<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.finance.mapper.FamilyLoanMapper">
    
    <resultMap type="FamilyLoan" id="FamilyLoanResult">
        <result property="id"    column="id"    />
        <result property="loanMenber"    column="loan_menber"    />
        <result property="loanAmount"    column="loan_amount"    />
        <result property="loanStartDate"    column="loan_start_date"    />
        <result property="loanEndDate"    column="loan_end_date"    />
        <result property="loanRate"    column="loan_rate"    />
        <result property="loanPlatform"    column="loan_platform"    />
        <result property="remark"    column="remark"    />
        <result property="status"    column="status"    />
        <result property="createUser"    column="create_user"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectFamilyLoanVo">
        select id, loan_menber, loan_amount, loan_start_date, loan_end_date, loan_rate, loan_platform, remark, status, create_user, create_time from family_loan
    </sql>

    <select id="selectFamilyLoanList" parameterType="FamilyLoan" resultMap="FamilyLoanResult">
        <include refid="selectFamilyLoanVo"/>
        <where>  
            <if test="loanMenber != null  and loanMenber != ''"> and loan_menber = #{loanMenber}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="createUser != null  and createUser != ''"> and create_user = #{createUser}</if>
            <if test="params.beginCreateTime != null and params.beginCreateTime != '' and params.endCreateTime != null and params.endCreateTime != ''"> and create_time between #{params.beginCreateTime} and #{params.endCreateTime}</if>
        </where> order by id desc
    </select>
    
    <select id="selectFamilyLoanById" parameterType="Long" resultMap="FamilyLoanResult">
        <include refid="selectFamilyLoanVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertFamilyLoan" parameterType="FamilyLoan" useGeneratedKeys="true" keyProperty="id">
        insert into family_loan
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="loanMenber != null and loanMenber != ''">loan_menber,</if>
            <if test="loanAmount != null">loan_amount,</if>
            <if test="loanStartDate != null">loan_start_date,</if>
            <if test="loanEndDate != null">loan_end_date,</if>
            <if test="loanRate != null">loan_rate,</if>
            <if test="loanPlatform != null">loan_platform,</if>
            <if test="remark != null">remark,</if>
            <if test="status != null">status,</if>
            <if test="createUser != null">create_user,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="loanMenber != null and loanMenber != ''">#{loanMenber},</if>
            <if test="loanAmount != null">#{loanAmount},</if>
            <if test="loanStartDate != null">#{loanStartDate},</if>
            <if test="loanEndDate != null">#{loanEndDate},</if>
            <if test="loanRate != null">#{loanRate},</if>
            <if test="loanPlatform != null">#{loanPlatform},</if>
            <if test="remark != null">#{remark},</if>
            <if test="status != null">#{status},</if>
            <if test="createUser != null">#{createUser},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateFamilyLoan" parameterType="FamilyLoan">
        update family_loan
        <trim prefix="SET" suffixOverrides=",">
            <if test="loanMenber != null and loanMenber != ''">loan_menber = #{loanMenber},</if>
            <if test="loanAmount != null">loan_amount = #{loanAmount},</if>
            <if test="loanStartDate != null">loan_start_date = #{loanStartDate},</if>
            <if test="loanEndDate != null">loan_end_date = #{loanEndDate},</if>
            <if test="loanRate != null">loan_rate = #{loanRate},</if>
            <if test="loanPlatform != null">loan_platform = #{loanPlatform},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createUser != null">create_user = #{createUser},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteFamilyLoanById" parameterType="Long">
        delete from family_loan where id = #{id}
    </delete>

    <delete id="deleteFamilyLoanByIds" parameterType="String">
        delete from family_loan where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>