<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('车辆管理基础数据列表')" />
    <th:block th:include="include :: bootstrap-editable-css" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>车子编码：</label>
                                <select name="carCode" th:with="type=${@dict.getType('car_manage')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <label>负责人：</label>
                                <select name="responsibler" th:with="type=${@dict.getType('family_menber')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <label>行驶里程：</label>
                                <input type="text" name="carMile"/>
                            </li>
                            <li>
                                <label>车牌：</label>
                                <input type="text" name="carId"/>
                            </li>
                            <li>
                                <label>是否有效：</label>
                                <input name="effectiveFlag" th:value="Y" readonly/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>


            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: bootstrap-table-editable-js" />
    <script th:inline="javascript">
        var removeFlag = [[${@permission.hasPermi('car:carMange:remove')}]];
        var carCodeDatas = [[${@dict.getType('car_manage')}]];
        var responsiblerDatas = [[${@dict.getType('family_menber')}]];
        var prefix = ctx + "car/carMange";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "车辆管理基础数据",
                onEditableSave: onEditableSave,
                columns: [{
                    field: 'id',
                    title: '',
                    visible: false
                },

                {
                    field: 'carCode',
                    title: '车子编码',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(carCodeDatas, value);
                    }
                },

                {
                    field: 'responsibler',
                    title: '负责人',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(responsiblerDatas, value);
                    }
                },

                {
                    field: 'carBuyCost',
                    title: '购买花费'
                },

                {
                    field: 'buyDate',
                    title: '购买日期'
                },

                {
                    field: 'carMile',
                    title: '行驶里程',
                    editable: true
                },

                {
                    field: 'carId',
                    title: '车牌'
                },

                {
                    field: 'remark',
                    title: '备注'
                },
                    {
                        field: 'imgUrls',
                        title: '附件',
                        formatter: function (arr, row, index) {
                            var html=''
                            if (arr!=null&&arr.length>0){
                                html+= '<img src="' + arr[0]+ '" width="150" height="100">'
                            }
                            return html
                        }
                    },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-info btn-xs " href="javascript:void(0)" onclick="detail(\'' + row.id + '\')">查看保养项目</a> ');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
        function detail(id) {
            var url = prefix + '/detail/' + id;
            $.modal.openTab("保养科目明细", url);
        }

        function onEditableSave (field, row, oldValue, $el) {
            $.operate.edit(row["id"]);
        }
    </script>
</body>
</html>