<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>统计</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="../static/css/animate.min.css" th:href="@{/css/animate.min.css}" rel="stylesheet"/>
    <link href="../static/css/style.min.css" th:href="@{/css/style.min.css}" rel="stylesheet"/>
</head>

<body class="gray-bg">
<div class="wrapper wrapper-content">

    <div class="row">
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>我的通知</h5>
                </div>
                <div class="ibox-content" id="mytodo">
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/ajax/libs/flot/jquery.flot.js}"></script>
<th:block th:include="include :: echarts-js" />
<th:block th:include="include :: footer" />
<script>
    var prefix = ctx + "system/todo";

    $(document).ready(function () {
        listMytodo()
    })

    function listMytodo() {
        $.ajax({
            cache : true,
            type : "POST",
            url : prefix + "/listtodo",
            async : false,
            error : function(request) {
                $.modal.alertError("系统错误");
            },
            success : function(data) {
                var html =''
                data.data.map(item=>{
                    var title = item['title']
                    var id = item['id']
                    var content = item['content']
                    var createTime = item['createTime']
                    html=html+" <div class=\"alert\">\n" +
                        " <a style=\"float: left\" onclick=\"doConfirm("+id+")\"> "+content+"</a>\n" +
                        " <span style=\"float: right\"> "+createTime.split(" ")[0]+"</span>\n" +
                        " <span style=\"float: right;margin-right: 30px\">"+title+"</span>\n" +
                        "</div>"
                })
                $("#mytodo").html(html)
            }
        });
    }

    function doConfirm(data) {
        $.modal.confirm("确认已处理或将处理！",function () {
            doIt(data)
        });
    }

    function  doIt(data) {
        $.ajax({
            cache : true,
            type : "POST",
            url : prefix + "/doedit",
            data : {"id":data,"doFlag":"Y"},
            async : false,
            error : function(request) {
                $.modal.alertError("系统错误");
            },
            success : function(data) {
                listMytodo()
            }})
    }
</script>
</body>
</html>
