<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.finance.mapper.FamilyInsuranceReimburseMapper">
    
    <resultMap type="FamilyInsuranceReimburse" id="FamilyInsuranceReimburseResult">
        <result property="id"    column="id"    />
        <result property="reimburseMenber"    column="reimburse_menber"    />
        <result property="reimburseType"    column="reimburse_type"    />
        <result property="reimburseDetails"    column="reimburse_details"    />
        <result property="reimburseAmount"    column="reimburse_amount"    />
        <result property="reimburseDate"    column="reimburse_date"    />
        <result property="remark"    column="remark"    />
        <result property="createUser"    column="create_user"    />
        <result property="createDate"    column="create_date"    />
    </resultMap>

    <sql id="selectFamilyInsuranceReimburseVo">
        select id, reimburse_menber, reimburse_type, reimburse_details, reimburse_amount, reimburse_date, remark, create_user, create_date from family_insurance_reimburse
    </sql>

    <select id="selectFamilyInsuranceReimburseList" parameterType="FamilyInsuranceReimburse" resultMap="FamilyInsuranceReimburseResult">
        <include refid="selectFamilyInsuranceReimburseVo"/>
        <where>  
            <if test="reimburseMenber != null  and reimburseMenber != ''"> and reimburse_menber = #{reimburseMenber}</if>
            <if test="reimburseType != null  and reimburseType != ''"> and reimburse_type = #{reimburseType}</if>
            <if test="params.beginReimburseDate != null and params.beginReimburseDate != '' and params.endReimburseDate != null and params.endReimburseDate != ''"> and reimburse_date between #{params.beginReimburseDate} and #{params.endReimburseDate}</if>
            <if test="createUser != null  and createUser != ''"> and create_user = #{createUser}</if>
            <if test="createDate != null "> and create_date = #{createDate}</if>
        </where>
    </select>
    
    <select id="selectFamilyInsuranceReimburseById" parameterType="Long" resultMap="FamilyInsuranceReimburseResult">
        <include refid="selectFamilyInsuranceReimburseVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertFamilyInsuranceReimburse" parameterType="FamilyInsuranceReimburse" useGeneratedKeys="true" keyProperty="id">
        insert into family_insurance_reimburse
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="reimburseMenber != null">reimburse_menber,</if>
            <if test="reimburseType != null">reimburse_type,</if>
            <if test="reimburseDetails != null">reimburse_details,</if>
            <if test="reimburseAmount != null">reimburse_amount,</if>
            <if test="reimburseDate != null">reimburse_date,</if>
            <if test="remark != null">remark,</if>
            <if test="createUser != null">create_user,</if>
            <if test="createDate != null">create_date,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="reimburseMenber != null">#{reimburseMenber},</if>
            <if test="reimburseType != null">#{reimburseType},</if>
            <if test="reimburseDetails != null">#{reimburseDetails},</if>
            <if test="reimburseAmount != null">#{reimburseAmount},</if>
            <if test="reimburseDate != null">#{reimburseDate},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createUser != null">#{createUser},</if>
            <if test="createDate != null">#{createDate},</if>
         </trim>
    </insert>

    <update id="updateFamilyInsuranceReimburse" parameterType="FamilyInsuranceReimburse">
        update family_insurance_reimburse
        <trim prefix="SET" suffixOverrides=",">
            <if test="reimburseMenber != null">reimburse_menber = #{reimburseMenber},</if>
            <if test="reimburseType != null">reimburse_type = #{reimburseType},</if>
            <if test="reimburseDetails != null">reimburse_details = #{reimburseDetails},</if>
            <if test="reimburseAmount != null">reimburse_amount = #{reimburseAmount},</if>
            <if test="reimburseDate != null">reimburse_date = #{reimburseDate},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createUser != null">create_user = #{createUser},</if>
            <if test="createDate != null">create_date = #{createDate},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteFamilyInsuranceReimburseById" parameterType="Long">
        delete from family_insurance_reimburse where id = #{id}
    </delete>

    <delete id="deleteFamilyInsuranceReimburseByIds" parameterType="String">
        delete from family_insurance_reimburse where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>